<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Project list</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="<%= admin_workers_path %>">Home</a>
      </li>
      <li class="breadcrumb-item active">
        <strong>Worker new</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInUp">
  <%= render 'form' %>
</div>