<div class="div">
    <% if @shipment %>
    <h3><%= t 'landing_shipment_track', id: @shipment.code, current_location: t("fields.shipment.#{@shipment.current_location}").html_safe %></h3>
    <% end %>
</div>
